html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body::-webkit-scrollbar, #messagesList::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track, #messagesList::-webkit-scrollbar-track {
    background-color: #000;
}

body::-webkit-scrollbar-thumb, #messagesList::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 3px;
    transition: 0.5s;
}

body::-webkit-scrollbar-thumb:hover, #messagesList::-webkit-scrollbar-thumb:hover {
    background-color: #0d6e90;
}

.movingbg {
    background-image: url('/img/movingbg.gif');
    background-size: cover;
}

#messagesList {
    width: 71vw;
    height: 55vh;
    padding: 0px;
    margin: 0px;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;
}

#chatsList {
    width: 10vw;
    height: 55vh;
    padding: 0px;
    margin: 0px;
    text-align: left;
    overflow: auto;
    word-wrap: break-word;
}

.form-label{
    color: slategray;
}

label {
    color: slategray;
}